*{
    box-sizing: border-box;
}

body{
    margin: 40px;

}

.table_responsive{
    max-width: 100%;
    border: 1px solid #00bcd4;
    background-color: white;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}
table{
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead{
    background-color: #00bcd4;
    color: #fff;
}

table>thead th{
padding: 15px;
}

table th,
table td{
    border: 1px solid #00000017;
    padding: 10px 100px;
}

table>tbody>tr>td>img{
    display: inline-block;
    width: 900%;
    height: 100px;
    object-fit: cover;
}



.welcome-img{
    width: 333px;
    height: 333px;
}

video{
    width: 333px;
    height: 333px;
}